@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap");

@import "tailwindcss";

body {
  font-family: "JetBrains Mono", monospace;
  background: #fff;
  color: #111;
}
